<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trade Info Validator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    
    <script type="text/javascript" th:src="@{/trade-info-form.js}"></script>
    
    <link rel="stylesheet" type="text/css" th:href="@{/trade-info-form.css}"/>
    
</head>

<body style="padding-left: 50px;">
	
	
	<div style="display: inline-flex;">
		<h2 > Spot </h2>
		<h2 style="margin-left: 20px" id = "spot_status"> not validated </h2>
	</div>

	<table>
	  <tr> <td><label>customer</label></td> <td>     <input id ="spot_customer" type="text" value="JUPITER1"/> </td> <td> 			<label id ="spot_err_customer" 		class="error_msg_spot"></label> </td>  </tr>
	  <tr> <td><label>ccyPair    </label></td> <td>  <input id ="spot_ccyPair" type="text" value="EURUSD"/> </td> <td> 				<label id ="spot_err_ccyPair"  		class="error_msg_spot"></label> </td>  </tr>
	  <tr> <td><label>direction  </label></td>  <td> <input id ="spot_direction" type="text" value="BUY"/> </td> <td> 				<label id ="spot_err_direction" 		class="error_msg_spot"></label> </td>  </tr>
	  <tr> <td><label>tradeDate  </label></td>  <td> <input id ="spot_tradeDate" type="text" value="2016-08-11"/> </td> <td> 		<label id ="spot_err_tradeDate" 		class="error_msg_spot"></label> </td>  </tr>
	  <tr> <td><label>amount1    </label></td>  <td> <input id ="spot_amount1" type="text" value="1000000.00"/> </td> <td> 			<label id ="spot_err_amount1" 		class="error_msg_spot"></label> </td>  </tr>
	  <tr> <td><label>amount2    </label></td>  <td> <input id ="spot_amount2" type="text" value="1120000.00"/> </td> <td> 			<label id ="spot_err_amount2" 		class="error_msg_spot"></label> </td>  </tr>
	  <tr> <td><label>rate       </label></td>  <td> <input id ="spot_rate" type="text" value="1.17"/> </td> <td> 					<label id ="spot_err_rate" 			class="error_msg_spot"></label> </td>  </tr>
	  <tr> <td><label>valueDate  </label></td>  <td> <input id ="spot_valueDate" type="text" value="2016-08-15"/> </td> <td> 		<label id ="spot_err_valueDate" 		class="error_msg_spot"></label> </td>  </tr>
	  <tr> <td><label>legalEntity</label></td>  <td> <input id ="spot_legalEntity" type="text" value="CS London"/> </td> <td> 		<label id ="spot_err_legalEntity" 	class="error_msg_spot"></label> </td>  </tr>
	  <tr> <td><label>trader     </label></td>  <td> <input id ="spot_trader" type="text" value="Johann Baumfiddler"/> </td> <td> 	<label id ="spot_err_trader" 		class="error_msg_spot"></label> </td>  </tr>
	</table>
	
	<button id="spot_validate" type="button">Validate</button>
	
	<div style="height: 20px"> </div>

	<div style="display: inline-flex;">
		<h2 > Forward </h2>
		<h2 style="margin-left: 20px" id = "forward_status"> not validated </h2>
	</div>

	<table>
	  <tr> <td><label>customer</label></td> <td>     <input id ="forward_customer" type="text" value="JUPITER1"/> </td> <td> 			<label id ="forward_err_customer" 		class="error_msg_forward"></label> </td>  </tr>
	  <tr> <td><label>ccyPair    </label></td> <td>  <input id ="forward_ccyPair" type="text" value="EURUSD"/> </td> <td> 				<label id ="forward_err_ccyPair"  		class="error_msg_forward"></label> </td>  </tr>
	  <tr> <td><label>direction  </label></td>  <td> <input id ="forward_direction" type="text" value="BUY"/> </td> <td> 				<label id ="forward_err_direction" 		class="error_msg_forward"></label> </td>  </tr>
	  <tr> <td><label>tradeDate  </label></td>  <td> <input id ="forward_tradeDate" type="text" value="2016-08-11"/> </td> <td> 		<label id ="forward_err_tradeDate" 		class="error_msg_forward"></label> </td>  </tr>
	  <tr> <td><label>amount1    </label></td>  <td> <input id ="forward_amount1" type="text" value="1000000.00"/> </td> <td> 			<label id ="forward_err_amount1" 		class="error_msg_forward"></label> </td>  </tr>
	  <tr> <td><label>amount2    </label></td>  <td> <input id ="forward_amount2" type="text" value="1120000.00"/> </td> <td> 			<label id ="forward_err_amount2" 		class="error_msg_forward"></label> </td>  </tr>
	  <tr> <td><label>rate       </label></td>  <td> <input id ="forward_rate" type="text" value="1.17"/> </td> <td> 					<label id ="forward_err_rate" 			class="error_msg_forward"></label> </td>  </tr>
	  <tr> <td><label>valueDate  </label></td>  <td> <input id ="forward_valueDate" type="text" value="2016-08-15"/> </td> <td> 		<label id ="forward_err_valueDate" 		class="error_msg_forward"></label> </td>  </tr>
	  <tr> <td><label>legalEntity</label></td>  <td> <input id ="forward_legalEntity" type="text" value="CS London"/> </td> <td> 		<label id ="forward_err_legalEntity" 	class="error_msg_forward"></label> </td>  </tr>
	  <tr> <td><label>trader     </label></td>  <td> <input id ="forward_trader" type="text" value="Johann Baumfiddler"/> </td> <td> 	<label id ="forward_err_trader" 		class="error_msg_forward"></label> </td>  </tr>
	</table>
	
	<button id="forward_validate" type="button">Validate</button>
	
	<div style="height: 20px"> </div>

	<div style="display: inline-flex;">
		<h2 > Option </h2>
		<h2 style="margin-left: 20px" id = "options_status"> not validated</h2>
	</div>
	
	<table>
	  <tr> <td><label>customer</label></td> <td>     <input id ="options_customer" type="text" value="JUPITER1"/> </td> <td> 			<label id ="options_err_customer" 		class="error_msg_options"></label> </td>  </tr>
	  <tr> <td><label>ccyPair    </label></td> <td>  <input id ="options_ccyPair" type="text" value="EURUSD"/> </td> <td> 				<label id ="options_err_ccyPair"  		class="error_msg_options"></label> </td>  </tr>
	  <tr> <td><label>style    </label></td> <td>  <input id ="options_style" type="text" value="EUROPEAN"/> </td> <td> 				<label id ="options_err_style"  		class="error_msg_options"></label> </td>  </tr>	  
	  <tr> <td><label>excerciseDate    </label></td> <td>  <input id ="options_excerciseDate" type="text" value="2016-08-11"/> </td> <td> <label id ="options_err_excerciseDate"  		class="error_msg_options"></label> </td>  </tr>	  
	  <tr> <td><label>direction  </label></td>  <td> <input id ="options_direction" type="text" value="BUY"/> </td> <td> 				<label id ="options_err_direction" 		class="error_msg_options"></label> </td>  </tr>
	  <tr> <td><label>strategy  </label></td>  <td> <input id ="options_strategy" type="text" value="CALL"/> </td> <td> 				<label id ="options_err_strategy" 		class="error_msg_options"></label> </td>  </tr>
	  <tr> <td><label>tradeDate  </label></td>  <td> <input id ="options_tradeDate" type="text" value="2016-08-11"/> </td> <td> 		<label id ="options_err_tradeDate" 		class="error_msg_options"></label> </td>  </tr>
	  <tr> <td><label>amount1    </label></td>  <td> <input id ="options_amount1" type="text" value="1000000.00"/> </td> <td> 			<label id ="options_err_amount1" 		class="error_msg_options"></label> </td>  </tr>
	  <tr> <td><label>amount2    </label></td>  <td> <input id ="options_amount2" type="text" value="1120000.00"/> </td> <td> 			<label id ="options_err_amount2" 		class="error_msg_options"></label> </td>  </tr>
	  <tr> <td><label>rate       </label></td>  <td> <input id ="options_rate" type="text" value="1.17"/> </td> <td> 					<label id ="options_err_rate" 			class="error_msg_options"></label> </td>  </tr>
	  <tr> <td><label>deliveryDate	</label></td>  <td> <input id ="options_deliveryDate" type="text" value="2016-08-22"/> </td> <td> 		<label id ="options_err_deliveryDate" 			class="error_msg_options"></label> </td>  </tr>
	  <tr> <td><label>expiryDate	</label></td>  <td> <input id ="options_expiryDate" type="text" value="2016-08-25"/> </td> <td> 			<label id ="options_err_expiryDate" 			class="error_msg_options"></label> </td>  </tr>
	  <tr> <td><label>payCcy		</label></td>  <td> <input id ="options_payCcy" type="text" value="USD"/> </td> <td> 				<label id ="options_err_payCcy" 			class="error_msg_options"></label> </td>  </tr>
	  <tr> <td><label>premium		</label></td>  <td> <input id ="options_premium" type="text" value="0.20"/> </td> <td> 				<label id ="options_err_premium" 			class="error_msg_options"></label> </td>  </tr>
	  <tr> <td><label>premiumCcy	</label></td>  <td> <input id ="options_premiumCcy" type="text" value="USD"/> </td> <td> 			<label id ="options_err_premiumCcy" 			class="error_msg_options"></label> </td>  </tr>
	  <tr> <td><label>premiumType	</label></td>  <td> <input id ="options_premiumType" type="text" value="%USD"/> </td> <td> 			<label id ="options_err_premiumType" 			class="error_msg_options"></label> </td>  </tr>
	  <tr> <td><label>premiumDate	</label></td>  <td> <input id ="options_premiumDate" type="text" value="2016-08-12"/> </td> <td> 			<label id ="options_err_premiumDate" 			class="error_msg_options"></label> </td>  </tr>
	  <tr> <td><label>legalEntity</label></td>  <td> <input id ="options_legalEntity" type="text" value="CS London"/> </td> <td> 		<label id ="options_err_legalEntity" 	class="error_msg_options"></label> </td>  </tr>
	  <tr> <td><label>trader     </label></td>  <td> <input id ="options_trader" type="text" value="Johann Baumfiddler"/> </td> <td> 	<label id ="options_err_trader" 		class="error_msg_options"></label> </td>  </tr>
	</table>
	
	<button id="options_validate" type="button">Validate</button>
	
	<div style="height: 40px"> </div>	

	<div style="display: inline-flex;">
		<button id="shutdown" type="button">Shutdown</button>
		<h2 style="margin-left: 20px" id = "shutdown_status"></h2>
	</div>
	
</body>
</html>